
<!DOCTYPE html>
<html>
<head>
<title>Network Attack Detection</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Network Attack Detection System</h1>

<form action="/predict" method="POST">
<input type="number" name="feature1" placeholder="Packets Sent" required><br><br>
<input type="number" name="feature2" placeholder="Requests" required><br><br>
<input type="number" name="feature3" placeholder="Traffic Load" required><br><br>

<button type="submit">Analyze</button>
</form>

</body>
</html>
